{% extends "../layout.html" %}

{% block content %}
<div class="container">

<div class="page-header">
  <h3>Sign in</h3>
</div>
<form class="form-horizontal" method="POST" ng-non-bindable>
  <input type="hidden" name="_csrf" value="{{_csrf}}" />
  <div class="form-group">
    <label class="col-sm-3 control-label" for="email">Email</label>
    <div class="col-sm-7">
      <input class="form-control" type="email" name="email" id="email" placeholder="Email" autofocus="autofocus" required="required"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="password">Password</label>
    <div class="col-sm-7">
      <input class="form-control" type="password" name="password" id="password" placeholder="Password" required="required"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-7">
      <button class="col-sm-3 btn btn-primary" type="submit"><i class="fa fa-user"></i>Login</button><a class="btn btn-link" href="/forgot">Forgot your password?</a>
    </div>
  </div>

</form>

</div>
{% endblock %}