<footer>
	<div class="arrow-down"></div>
	  <div class="copy-right">
	   <div class="container">
	  	<div class="row">
	  		<div class="col-lg-6 col-md-6 col-sm-6">
	  			<div class="copy-right-text">
						&copy; 2017 Connectbot. ALL RIGHTS RESERVED.
					</div>
	      </div><!--col-sm-6 end-->
	      <div class="col-lg-6 col-md-6 col-sm-6">
					<ul class="list-inline">
		  			<li><a href="/" target="_blank" class="">Connectbot</a></li>
						<li><a href="/terms_of_use" target="_blank" class="">Terms of use</a></li>
						<li><a href="/privacy_policy " target="_blank" class="">Privacy Policy </a></li>
					</ul>
	      </div><!--col-sm-6 end-->
	     </div><!--row end-->
	  </div><!--container end-->

	</div><!--copy-right end-->
</footer>
