<div class="container-fluid">
  <div class="nav-bar row align-items-center">

      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/"><i class="fa fa-cube"></i>Connectbot</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {% if user %}
            <li><a href="/campaigns">Campaigns</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
        {% if not user %}
          <li class="menu-item"><a href="/login">Login</a></li>
          <li class="menu-item"><a href="/signup">Create Account</a></li>
        {% else %}
          <li class="menu-item">
            <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle-o">User</i>
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="/account">Account</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
          </li>

        {% endif %}
        </ul>
      </div>

  </div>
</div>
