{% extends "layout.html" %}

{% block content %}
<div class="">
	{% if user %}
	<div class="row">
		<div class="col-md-6"><h1>Dashboard</h1></div>
	</div>
</div>

<div>
	{% else %}
		{% include "home.html" %}
	{% endif %}
</div>
{% endblock %}
