<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#4DA5F4">

  <title>LinkedIn Automation</title>



  <link rel="shortcut icon" href="/favicon.png">
  <link rel="stylesheet" href="/css/main.css">

</head>
<body>
  <header>
    {% include "partials/header.html" %}
  </header>

  <div ng-app="linkedinApp">
    {% block content %}
    {% endblock %}
  </div>

  {% include "partials/footer.html" %}

  <script src="/js/lib/jquery-3.1.1.min.js" type="text/javascript"></script>
  <script src="/js/lib/bootstrap.min.js" type="text/javascript"></script>
  <script src="/js/lib/angular.min.js" type="text/javascript"></script>
  <script src="/js/angular-app.js" type="text/javascript"></script>
  <script src="/js/main.js" type="text/javascript"></script>
</body>
</html>
